/* styles.css */
*{
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#Gradient_1{
    background-image: linear-gradient(to left, rgb(111, 32, 32) , rgb(24, 152, 163));
}
body, html, #app{
    height: 100%;
    width: 100%;
}
body {
   /*margin: 55px;*/
   background-color: rgba(85, 92, 83, 0.856);
}
.Gray_Box {
background-color: #2e0343;
overflow: hidden;
border-radius: 45px;
margin-left: 25%;
margin-right: 25%;
margin-top: 10%;
align-items: center;
}
.margins1{
    margin-left: 2%;
margin-right: 2%;
margin-top: 1%;
}
#centered-flag{
    text-align: center;
    display: block; margin: auto;
    border-radius: 25px;
    margin-bottom: 2%;
}
.aParent {
    float: center;
    /*clear: none;*/ 
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.aParent div{
    float: center;
    /*clear: none;*/ 
    align-items: center;
    align-content: center;
    align-self: center;
    place-content: center;
    text-align: center;
}
#Index_EC{
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    font-size: 350%;
    transition: 7s;
}
#MultiEC{
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    font-size: 350%;
    transition: 7s;
    display: inline-flex;
}
footer{
  text-align: center;
  background-color: #2a074f;
  margin-bottom: 0%;
}
.multi-img{
    display: grid;
  column-gap: 50px;
}
.small-img{
    
display: block;
    margin-left: auto;
    margin-right: auto;
    width:40%;
    height:auto;
    border-radius: 15px;
    margin-bottom: 3%;
}
.places-header1{
    text-align: center;
    margin-left: -35%;
    margin-top: 5%;
    font-size: 250%;
}
.pad2{
    margin: 2%;
    padding: 2%;
    text-align: left;
    font-size: 150%;
    background-color: rgb(65, 65, 65);
}
@media (max-width: 750px) {
.overview, .account {
flex-direction: column;
width: auto;
}
.overview {
margin: 0;
}
}